<h1>{{title}}</h1>
<div *ngIf="__error" class="error">{{ __error }}</div>
<div *ngIf="__error == null">
	<div>
		<h2>Position</h2>
		<p>latitude : {{ __geolocation.latitude }}</p>
		<p>longitude : {{ __geolocation.longitude }}</p>
	</div>
	<div>
		<h2>Ville</h2>
		<p>ville : {{ __city }}</p>
		<p>Ou choisissez une ville :
			<select [ngModel]="__city" (ngModelChange)="selectedCommune($event)">
				<option *ngFor="let commune of __communes" [ngValue]="commune">{{ commune.nom }}</option>
			</select>
		</p>
		<h2>Rendu :
		</h2>

	</div>
	<div>
		<h4>Leaflet / OpenStreetMap</h4>
		<div id="leaflet-plan"></div>
	</div>

	<div id="google-maps">
		<h4>Google maps</h4>
		<agm-map [latitude]="__geolocation.latitude" [longitude]="__geolocation.longitude" [zoom]="13">
			<agm-marker [latitude]="__geolocation.latitude" [longitude]="__geolocation.longitude"></agm-marker>
		</agm-map>
	</div>

	<div>
		<h4>Leaflet / Georep (cartographie)</h4>
		<div id="georep-plan"></div>
	</div>

	<div>
		<h4>Leaflet / Georep (imagerie)</h4>
		<div id="georep-img"></div>
	</div>
</div>
